<button type="button" class="btn @Model.Settings.ButtonColor mr-lg pull-left" data-plugin-tooltip="tooltip"
    data-toggle="tooltip" data-placement="@Model.Settings.TooltipDirection" title="@Model.TooltipTitle">
    @Model.ButtonText
</button>